<h1>Editing User</h1>

<%= render 'form', user: @user %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>

<div style='width: 800px;'>
	<div id="map" style='width :800px; height: 400px;'></div>
</div>

<%= render 'gmap_display' %>

<script>
var user = <%= raw @user.to_json %>
var markers = <%= raw @hash.to_json %>
var options = {
  draggable: true
}
gmap(markers, user, options)
</script>